body {
    margin: 0 auto;
    font-family: 'Exo', sans-serif;
    display: flex;
}

h1 {
    color: grey;
    padding: 20px 0;
}

p {
    color: indianred;
    font-size: 20px;
    padding: 20px 0;
}

.container {
    background-color: black; 
    margin: 0 auto;  
}
