body {
    margin: 0 auto;
    font-family: 'Exo', sans-serif;
}

h1 {
    color: aqua;
    padding: 20px 0;
}

p {
    color: aquamarine;
    font-size: 20px;
    padding: 20px 0;
}

.container {
    background-color: black; 
    margin: 0 auto;  
}
